body 
{
    font-family: "Avenir Next", Helevetica, sans-serif;
    text-align: center;
}
input 
{
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}
li 
{
    text-align: left;
    font-size: 40px;
    list-style: none;
    color: cornflowerblue;
    margin: 0;
}