body 
{
    float: left;
    font-family:monospace;
}
input 
{
    text-align: center;   
    color: red;
    padding-top: 5px;
    width: 300px;
    height: 40px;
    font-size: 25px;
    border:none;
    margin-left: 500px
}
li 
{
    color: blue;
    font-family: monospace;
    text-align: left;
    font-size: 25px;
    list-style: none;
    margin-left: 530px
}